section {
    /* width: 15rem; */
    margin: 16px 2rem;
    background-color: #f1f1f1;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.comments {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
}

.comments main {
    background: #fff;
    border-radius: 8px;
}

.sections {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.title {
    display: flex;
    padding-left: 4rem;
}